# node_modules
node_modules/
.DS_Store
dist/
dist-ssr/
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ide
.vscode/
.idea/
*.swp
*.swo
*.swn

# vite
.vite/
node_modules
